.sona-flex, .sona-flex-row, .song-flex-row-reverse, .sona-flex-column, .sona-flex-column-reverse, .sona-flex-nowrap, .sona-flex-wrap, .sona-flex-wrap-reverse, .sona-flex-flow-RW, .sona-flex-flow-RCW, .sona-flex-flow-CW, .sona-flex-flow-CCW, .sona-flex-flow-RN, .sona-flex-flow-RCN, .sona-flex-flow-CN, .sona-flex-flow-CCN, .sona-flex-flow-RWR, .sona-flex-flow-CWR, .sona-flex-flow-CRWR, .sona-flex-justify-FS, .sona-flex-justify-FE, .sona-flex-justify-SB, .sona-flex-justify-SA, .sona-flex-justify-SE, .sona-flex-justify-C, .sona-flex-align-S, .sona-flex-align-FS, .sona-flex-align-FE, .sona-flex-align-C, .sona-flex-align-B, .sona-flex-center {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.sona-inline-flex {
  display: -webkit-inline-box !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.sona-flex-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.song-flex-row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sona-flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sona-flex-column-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.sona-flex-nowrap {
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

.sona-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sona-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.sona-flex-flow-RW {
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.sona-flex-flow-RCW {
  -ms-flex-flow: row-reverse wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse wrap;
}

.sona-flex-flow-CW {
  -ms-flex-flow: column wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}

.sona-flex-flow-CCW {
  -ms-flex-flow: column-reverse wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse wrap;
}

.sona-flex-flow-RN {
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
}

.sona-flex-flow-RCN {
  -ms-flex-flow: row-reverse nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse nowrap;
}

.sona-flex-flow-CN {
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
}

.sona-flex-flow-CCN {
  -ms-flex-flow: column-reverse nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse nowrap;
}

.sona-flex-flow-RWR {
  -ms-flex-flow: row wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap-reverse;
}

.sona-flex-flow-RWR {
  -ms-flex-flow: row-reverse wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse wrap-reverse;
}

.sona-flex-flow-CWR {
  -ms-flex-flow: column wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap-reverse;
}

.sona-flex-flow-CRWR {
  -ms-flex-flow: column-reverse wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse wrap-reverse;
}

.sona-flex-justify-FS {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.sona-flex-justify-FE {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.sona-flex-justify-SB {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.sona-flex-justify-SA {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.sona-flex-justify-SE {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly;
}

.sona-flex-justify-C {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.sona-flex-align-S {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

.sona-flex-align-FS {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.sona-flex-align-FE {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.sona-flex-align-C {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.sona-flex-align-B {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -moz-align-items: baseline;
  align-items: baseline;
}

.sona-flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}
/*# sourceMappingURL=index.css.map */