@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
button {
  outline: none;
}

/* 清除浮动 */
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfloat {
  zoom: 1;
}

.sona-flex, .sona-flex-row, .song-flex-row-reverse, .sona-flex-column, .sona-flex-column-reverse, .sona-flex-nowrap, .sona-flex-wrap, .sona-flex-wrap-reverse, .sona-flex-flow-RW, .sona-flex-flow-RCW, .sona-flex-flow-CW, .sona-flex-flow-CCW, .sona-flex-flow-RN, .sona-flex-flow-RCN, .sona-flex-flow-CN, .sona-flex-flow-CCN, .sona-flex-flow-RWR, .sona-flex-flow-CWR, .sona-flex-flow-CRWR, .sona-flex-justify-FS, .sona-flex-justify-FE, .sona-flex-justify-SB, .sona-flex-justify-SA, .sona-flex-justify-SE, .sona-flex-justify-C, .sona-flex-align-S, .sona-flex-align-FS, .sona-flex-align-FE, .sona-flex-align-C, .sona-flex-align-B, .sona-flex-center {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.sona-inline-flex {
  display: -webkit-inline-box !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.sona-flex-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.song-flex-row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sona-flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sona-flex-column-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.sona-flex-nowrap {
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

.sona-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sona-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.sona-flex-flow-RW {
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.sona-flex-flow-RCW {
  -ms-flex-flow: row-reverse wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse wrap;
}

.sona-flex-flow-CW {
  -ms-flex-flow: column wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}

.sona-flex-flow-CCW {
  -ms-flex-flow: column-reverse wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse wrap;
}

.sona-flex-flow-RN {
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
}

.sona-flex-flow-RCN {
  -ms-flex-flow: row-reverse nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse nowrap;
}

.sona-flex-flow-CN {
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
}

.sona-flex-flow-CCN {
  -ms-flex-flow: column-reverse nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse nowrap;
}

.sona-flex-flow-RWR {
  -ms-flex-flow: row wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap-reverse;
}

.sona-flex-flow-RWR {
  -ms-flex-flow: row-reverse wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse wrap-reverse;
}

.sona-flex-flow-CWR {
  -ms-flex-flow: column wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap-reverse;
}

.sona-flex-flow-CRWR {
  -ms-flex-flow: column-reverse wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse wrap-reverse;
}

.sona-flex-justify-FS {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.sona-flex-justify-FE {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.sona-flex-justify-SB {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.sona-flex-justify-SA {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.sona-flex-justify-SE {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly;
}

.sona-flex-justify-C {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.sona-flex-align-S {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

.sona-flex-align-FS {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.sona-flex-align-FE {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.sona-flex-align-C {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.sona-flex-align-B {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -moz-align-items: baseline;
  align-items: baseline;
}

.sona-flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.sona-font-12 {
  font-size: 12px;
}

.sona-font-14 {
  font-size: 14px;
}

.sona-font-16 {
  font-size: 16px;
}

.sona-font-18 {
  font-size: 18px;
}

.sona-font-20 {
  font-size: 20px;
}

.sona-font-24 {
  font-size: 24px;
}

.sona-font-28 {
  font-size: 28px;
}

.sona-font-34 {
  font-size: 34px;
}

.sona-br-3 {
  border-radius: 3px;
}

.sona-br-4 {
  border-radius: 4px;
}

.sona-br-5 {
  border-radius: 5px;
}

.sona-br-8 {
  border-radius: 8px;
}

.sona-mr-5 {
  margin-right: 5px;
}

.sona-ml-5 {
  margin-left: 5px;
}

.sona-mt-5 {
  margin-top: 5px;
}

.sona-mb-5 {
  margin-bottom: 5px;
}

.sona-margin-5 {
  margin: 5px;
}

.sona-mh-5 {
  margin: 5px 0;
}

.sona-mv-5 {
  margin: 0 5px;
}

.sona-pr-5 {
  padding-right: 5px;
}

.sona-pl-5 {
  padding-left: 5px;
}

.sona-pt-5 {
  padding-top: 5px;
}

.sona-pb-5 {
  padding-bottom: 5px;
}

.sona-padding-5 {
  padding: 5px;
}

.sona-ph-5 {
  padding: 5px 0;
}

.sona-pv-5 {
  padding: 0 5px;
}

.sona-mr-10 {
  margin-right: 10px;
}

.sona-ml-10 {
  margin-left: 10px;
}

.sona-mt-10 {
  margin-top: 10px;
}

.sona-mb-10 {
  margin-bottom: 10px;
}

.sona-margin-10 {
  margin: 10px;
}

.sona-mh-10 {
  margin: 10px 0;
}

.sona-mv-10 {
  margin: 0 10px;
}

.sona-pr-10 {
  padding-right: 10px;
}

.sona-pl-10 {
  padding-left: 10px;
}

.sona-pt-10 {
  padding-top: 10px;
}

.sona-pb-10 {
  padding-bottom: 10px;
}

.sona-padding-10 {
  padding: 10px;
}

.sona-ph-10 {
  padding: 10px 0;
}

.sona-pv-10 {
  padding: 0 10px;
}

.sona-mr-20 {
  margin-right: 20px;
}

.sona-ml-20 {
  margin-left: 20px;
}

.sona-mt-20 {
  margin-top: 20px;
}

.sona-mb-20 {
  margin-bottom: 20px;
}

.sona-margin-20 {
  margin: 20px;
}

.sona-mh-20 {
  margin: 20px 0;
}

.sona-mv-20 {
  margin: 0 20px;
}

.sona-pr-20 {
  padding-right: 20px;
}

.sona-pl-20 {
  padding-left: 20px;
}

.sona-pt-20 {
  padding-top: 20px;
}

.sona-pb-20 {
  padding-bottom: 20px;
}

.sona-padding-20 {
  padding: 20px;
}

.sona-ph-20 {
  padding: 20px 0;
}

.sona-pv-20 {
  padding: 0 20px;
}

.sona-mr-30 {
  margin-right: 30px;
}

.sona-ml-30 {
  margin-left: 30px;
}

.sona-mt-30 {
  margin-top: 30px;
}

.sona-mb-30 {
  margin-bottom: 30px;
}

.sona-margin-30 {
  margin: 30px;
}

.sona-mh-30 {
  margin: 30px 0;
}

.sona-mv-30 {
  margin: 0 30px;
}

.sona-pr-30 {
  padding-right: 30px;
}

.sona-pl-30 {
  padding-left: 30px;
}

.sona-pt-30 {
  padding-top: 30px;
}

.sona-pb-30 {
  padding-bottom: 30px;
}

.sona-padding-30 {
  padding: 30px;
}

.sona-ph-30 {
  padding: 30px 0;
}

.sona-pv-30 {
  padding: 0 30px;
}

.sona-mr-60 {
  margin-right: 60px;
}

.sona-ml-60 {
  margin-left: 60px;
}

.sona-mt-60 {
  margin-top: 60px;
}

.sona-mb-60 {
  margin-bottom: 60px;
}

.sona-margin-60 {
  margin: 60px;
}

.sona-mh-60 {
  margin: 60px 0;
}

.sona-mv-60 {
  margin: 0 60px;
}

.sona-pr-60 {
  padding-right: 60px;
}

.sona-pl-60 {
  padding-left: 60px;
}

.sona-pt-60 {
  padding-top: 60px;
}

.sona-pb-60 {
  padding-bottom: 60px;
}

.sona-padding-60 {
  padding: 60px;
}

.sona-ph-60 {
  padding: 60px 0;
}

.sona-pv-60 {
  padding: 0 60px;
}

.sona-border {
  border: 1 solid rgba(0, 0, 0, 0.42);
}

.sona-border-R1 {
  border-right: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-L1 {
  border-left: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-T1 {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-B1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
/*# sourceMappingURL=index.css.map */