// font
@each $size in 12, 14, 16, 18, 20, 24, 28, 34 {
  .sona-font-#{$size} {
    font-size: #{$size}px;
  }
}

//border-radius
@each $radius in 3, 4, 5, 8 {
  .sona-br-#{$radius} {
    border-radius: #{$radius}px;
  }
}

// @mixin sona-mp-mixin($attr: null, $short: null) {
//   @each $len in 5, 10, 20, 30, 60 {
//     @if $attr == null && $short == h {
//       .sona-m#{$short}-#{$len} {
//         margin: #{$len}px 0;
//       }

//       .sona-p#{$short}-#{$len} {
//         padding-#{$arrt}: #{$len}px;
//       }
//     } @else if $attr == null && $short == null {
//       .sona-margin-#{$len} {
//         margin: #{$len}px;
//       }
//       .sona-padding-#{$len} {
//         padding: #{$len}px;
//       }
//     } @else {
//       .sona-m#{$short}-#{$len} {
//         margin-#{$arrt}: #{$len}px;
//       }

//       .sona-p#{$short}-#{$len} {
//         padding-#{$arrt}: #{$len}px;
//       }
//     }
//   }
// }

// margin padding
@each $len in 5, 10, 20, 30, 60 {
  .sona-mr-#{$len} {
    margin-right: #{$len}px;
  }
  .sona-ml-#{$len} {
    margin-left: #{$len}px;
  }
  .sona-mt-#{$len} {
    margin-top: #{$len}px;
  }
  .sona-mb-#{$len} {
    margin-bottom: #{$len}px;
  }
  .sona-margin-#{$len} {
    margin: #{$len}px;
  }
  .sona-mh-#{$len} {
    margin: #{$len}px 0;
  }
  .sona-mv-#{$len} {
    margin: 0 #{$len}px;
  }

  .sona-pr-#{$len} {
    padding-right: #{$len}px;
  }
  .sona-pl-#{$len} {
    padding-left: #{$len}px;
  }
  .sona-pt-#{$len} {
    padding-top: #{$len}px;
  }
  .sona-pb-#{$len} {
    padding-bottom: #{$len}px;
  }
  .sona-padding-#{$len} {
    padding: #{$len}px;
  }
  .sona-ph-#{$len} {
    padding: #{$len}px 0;
  }
  .sona-pv-#{$len} {
    padding: 0 #{$len}px;
  }
}

// border
@mixin sona-border-mixin($value: null, $short: null, $px: 1) {
  @if $value == null {
    .sona-border {
      border: $px solid rgba(0, 0, 0, 0.42);
    }
  } @else {
    .sona-border-#{$short}#{$px} {
      border-#{$value}: #{$px}px solid rgba(0, 0, 0, 0.42);
    }
  }
}

@include sona-border-mixin();
@include sona-border-mixin(right, R);
@include sona-border-mixin(left, L);
@include sona-border-mixin(top, T);
@include sona-border-mixin(bottom, B);
