.sona-font-12 {
  font-size: 12px;
}

.sona-font-14 {
  font-size: 14px;
}

.sona-font-16 {
  font-size: 16px;
}

.sona-font-18 {
  font-size: 18px;
}

.sona-font-20 {
  font-size: 20px;
}

.sona-font-24 {
  font-size: 24px;
}

.sona-font-28 {
  font-size: 28px;
}

.sona-font-34 {
  font-size: 34px;
}

.sona-br-3 {
  border-radius: 3px;
}

.sona-br-4 {
  border-radius: 4px;
}

.sona-br-5 {
  border-radius: 5px;
}

.sona-br-8 {
  border-radius: 8px;
}

.sona-mr-5 {
  margin-right: 5px;
}

.sona-ml-5 {
  margin-left: 5px;
}

.sona-mt-5 {
  margin-top: 5px;
}

.sona-mb-5 {
  margin-bottom: 5px;
}

.sona-margin-5 {
  margin: 5px;
}

.sona-mh-5 {
  margin: 5px 0;
}

.sona-mv-5 {
  margin: 0 5px;
}

.sona-pr-5 {
  padding-right: 5px;
}

.sona-pl-5 {
  padding-left: 5px;
}

.sona-pt-5 {
  padding-top: 5px;
}

.sona-pb-5 {
  padding-bottom: 5px;
}

.sona-padding-5 {
  padding: 5px;
}

.sona-ph-5 {
  padding: 5px 0;
}

.sona-pv-5 {
  padding: 0 5px;
}

.sona-mr-10 {
  margin-right: 10px;
}

.sona-ml-10 {
  margin-left: 10px;
}

.sona-mt-10 {
  margin-top: 10px;
}

.sona-mb-10 {
  margin-bottom: 10px;
}

.sona-margin-10 {
  margin: 10px;
}

.sona-mh-10 {
  margin: 10px 0;
}

.sona-mv-10 {
  margin: 0 10px;
}

.sona-pr-10 {
  padding-right: 10px;
}

.sona-pl-10 {
  padding-left: 10px;
}

.sona-pt-10 {
  padding-top: 10px;
}

.sona-pb-10 {
  padding-bottom: 10px;
}

.sona-padding-10 {
  padding: 10px;
}

.sona-ph-10 {
  padding: 10px 0;
}

.sona-pv-10 {
  padding: 0 10px;
}

.sona-mr-20 {
  margin-right: 20px;
}

.sona-ml-20 {
  margin-left: 20px;
}

.sona-mt-20 {
  margin-top: 20px;
}

.sona-mb-20 {
  margin-bottom: 20px;
}

.sona-margin-20 {
  margin: 20px;
}

.sona-mh-20 {
  margin: 20px 0;
}

.sona-mv-20 {
  margin: 0 20px;
}

.sona-pr-20 {
  padding-right: 20px;
}

.sona-pl-20 {
  padding-left: 20px;
}

.sona-pt-20 {
  padding-top: 20px;
}

.sona-pb-20 {
  padding-bottom: 20px;
}

.sona-padding-20 {
  padding: 20px;
}

.sona-ph-20 {
  padding: 20px 0;
}

.sona-pv-20 {
  padding: 0 20px;
}

.sona-mr-30 {
  margin-right: 30px;
}

.sona-ml-30 {
  margin-left: 30px;
}

.sona-mt-30 {
  margin-top: 30px;
}

.sona-mb-30 {
  margin-bottom: 30px;
}

.sona-margin-30 {
  margin: 30px;
}

.sona-mh-30 {
  margin: 30px 0;
}

.sona-mv-30 {
  margin: 0 30px;
}

.sona-pr-30 {
  padding-right: 30px;
}

.sona-pl-30 {
  padding-left: 30px;
}

.sona-pt-30 {
  padding-top: 30px;
}

.sona-pb-30 {
  padding-bottom: 30px;
}

.sona-padding-30 {
  padding: 30px;
}

.sona-ph-30 {
  padding: 30px 0;
}

.sona-pv-30 {
  padding: 0 30px;
}

.sona-mr-60 {
  margin-right: 60px;
}

.sona-ml-60 {
  margin-left: 60px;
}

.sona-mt-60 {
  margin-top: 60px;
}

.sona-mb-60 {
  margin-bottom: 60px;
}

.sona-margin-60 {
  margin: 60px;
}

.sona-mh-60 {
  margin: 60px 0;
}

.sona-mv-60 {
  margin: 0 60px;
}

.sona-pr-60 {
  padding-right: 60px;
}

.sona-pl-60 {
  padding-left: 60px;
}

.sona-pt-60 {
  padding-top: 60px;
}

.sona-pb-60 {
  padding-bottom: 60px;
}

.sona-padding-60 {
  padding: 60px;
}

.sona-ph-60 {
  padding: 60px 0;
}

.sona-pv-60 {
  padding: 0 60px;
}

.sona-border {
  border: 1 solid rgba(0, 0, 0, 0.42);
}

.sona-border-R1 {
  border-right: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-L1 {
  border-left: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-T1 {
  border-top: 1px solid rgba(0, 0, 0, 0.42);
}

.sona-border-B1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
/*# sourceMappingURL=index.css.map */